
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    position: relative;
    background: url('https://www.uaeh.edu.mx/gaceta/2/numero13/marzo/images/alumnos-garza-comunican/main.jpg') no-repeat center center/cover;
    color: #64ff48;
    padding: 40px 0;
    text-align: center;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

header .container {
    position: relative;
    z-index: 2;
}

header #branding h1 {
    font-size: 48px;
    margin: 0;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

header nav {
    margin-top: 20px;
}

header nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ccc;
}

.matches-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.match {
    width: 48%;
    margin: 1% 0;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fafafa;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.match h2 {
    font-size: 1.2em;
    margin: 0 0 10px;
}

.match a {
    text-decoration: none;
    color: #000;
}

.match img {
    width: 100%;
    height: auto;
}

.match p {
    font-size: 0.9em;
    color: #555;
    margin: 5px 0;
}

.videos h3 {
    font-size: 1em;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    header #branding h1 {
        font-size: 36px;
    }

    header nav ul li {
        margin: 0 10px;
    }

    header nav ul li a {
        font-size: 16px;
    }

    .match {
        width: 100%;
    }

    .card {
        width: calc(100% - 20px);
    }

    .team-card {
        width: calc(50% - 20px);
    }

    .filter form input[type="text"] {
        width: 100%;
    }
}

@media (max-width: 480px) {
    header #branding h1 {
        font-size: 28px;
    }

    header nav ul li {
        margin: 0 5px;
    }

    header nav ul li a {
        font-size: 14px;
    }

    .container {
        width: 100%;
        padding: 5px;
    }

    .team-card {
        width: 100%;
    }

    .card {
        width: 100%;
    }

    .footer-section .input-group,
    .footer-section .submit {
        width: 100%;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.form .w {
    background-color: #4CAF50; /* Green */
}

.form .d {
    background-color: #FFC107; /* Yellow */
}

.form .l {
    background-color: #F44336; /* Red */
}

.card {
    background: #fff;
    padding: 20px;
    margin: 20px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: box-shadow 0.3s ease-in-out;
    width: calc(50% - 40px);
    box-sizing: border-box;
}

.card img {
    border-radius: 5px;
    width: 80px;
    height: 80px;
    object-fit: contain;
    transition: transform 0.3s;
}

.card img:hover {
    transform: scale(1.1);
}

.card h3 {
    margin: 0;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.card h3 a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.card h3 a:hover {
    color: #0069d9;
}

.card p {
    margin: 5px 0;
    font-size: 16px;
    color: #666;
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.team-card {
    width: calc(25% - 20px);
    margin: 10px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.3s ease-in-out;
}

.team-card img {
    border-radius: 5px;
    width: 80px;
    height: 80px;
    object-fit: contain;
    transition: transform 0.3s;
}

.team-card img:hover {
    transform: scale(1.1);
}

.team-card h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
    text-align: center;
}

.team-card h3 a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.team-card h3 a:hover {
    color: #0069d9;
}

.team-card p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
    text-align: center;
}

.team-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
}

th, td {
    padding: 10px;
    text-align: center;
    border: none;
}

thead th {
    background: #0069d9;
    color: #fff;
}

tbody tr {
    background-color: #fff; /* Asegura que todas las filas tengan un fondo blanco */
}

tbody tr:hover {
    background-color: #ddd; /* Mantiene el color de fondo al pasar el mouse */
}

.welcome {
    text-align: center;
    margin-bottom: 20px;
}

.welcome h2 {
    font-size: 36px;
    margin: 10px 0;
    color: #333;
}

.welcome p {
    font-size: 18px;
    color: #555;
}

.filter {
    text-align: center;
    margin-bottom: 20px;
}

.filter h3 {
    font-size: 24px;
    margin: 10px 0;
    color: #333;
}

.filter form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.filter form label {
    margin-right: 10px;
    font-size: 18px;
    color: #333;
}

.filter form input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border 0.3s;
    width: 250px;
}

.filter form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0069d9;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter form button:hover {
    background-color: #0056b3;
}

footer {
    background: #343a40;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    margin: 10px;
    text-align: center;
}

.footer-section.logo-section {
    text-align: center;
}

.footer-section img.footer-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.footer-section.links-section h4,
.footer-section.subscription-section h4,
.footer-section.social-section h4 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.footer-section.links-section ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.footer-section.links-section ul li {
    margin-bottom: 10px;
}

.footer-section.links-section ul li a {
    color: #bbb;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section.links-section ul li a:hover {
    color: #fff;
}

.footer-section .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.footer-section .input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.footer-section .note {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section .input_field {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #e5e5e5;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
}

.footer-section .input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0 0 5px rgba(0, 105, 217, 0.5);
}

.footer-section .submit {
    width: 100%;
    height: 50px;
    background: #0069d9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    font-size: 18px;
    margin-top: 10px;
}

.footer-section .submit:hover {
    background: #0056b3;
}

.footer-section .social-section .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-section .social-section .social-icons a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.footer-section .social-section .social-icons a img:hover {
    transform: scale(1.1);
}

footer p {
    margin: 20px 0 0;
    font-size: 14px;
    color: #bbb;
}

.social-icon {
    width: 56px;
    height: 52px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin: 20px 0;
        text-align: center;
    }

    .footer-section .input-group {
        flex-direction: column;
        width: 100%;
        max-width: 100%;
    }

    .footer-section .input_field {
        border-radius: 5px;
        width: 100%;
        margin-bottom: 10px;
    }

    .footer-section .submit {
        border-radius: 5px;
        width: 100%;
    }
}