{% extends "base.html" %}

{% block content %}
<div class="matches-summary">
    <h1>Resumen de Partidos</h1>
    {% if matches_summary_data %}
        <div class="matches-list">
            {% for match in matches_summary_data %}
                <div class="match">
                    <h2>{{ match.title }} - {{ match.competition }}</h2>
                    <a href="{{ match.matchviewUrl }}" target="_blank">
                        <img src="{{ match.thumbnail }}" alt="Thumbnail">
                    </a>
                    <p>{{ match.date }}</p>
                    <div class="videos">
                        <h3>{{ match.video.title }}</h3>
                        <div>{{ match.video.embed|safe }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No hay resúmenes disponibles en este momento.</p>
    {% endif %}
</div>
{% endblock %}